
html{
    overflow-x: hidden;
}


body,h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
body,p,i,ul,li,span,strong{
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
}
/* header-and-menu-section start */
.header-and-menu-section{}
.top-header {
    background: #05152f;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-left{}
.top-left ul {
    margin-bottom: 0 !important;
}
.top-left ul li{
    display: inline-block;
}
.top-left ul li i {
    color: #12a3ff;
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-right: 4px;
}
.top-left ul li a {
    text-decoration: none;
    color: #fff;
}

.top-right{}
.top-right ul {
    margin-bottom: 0px;
    justify-content: flex-end;
}
.mobile-icon {
    padding-left: 30px;
}
.top-right ul li{}
.top-right ul li i {
    display: inline-block;
    color: #12a3ff;
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-right: 4px;
}
.top-right ul li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

/* menu */
.nav-aria{}
.header-logo{}
.header-logo img {
    width: 35% !important;
}

.jon-header ul{}
.jon-header ul li {
    padding: 0px 15px;
    position: relative;
    
}
.jon-header ul li a:hover{
    color: #2554ff !important;
}
.jon-header ul li a {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    color: #031521 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .4s;
}
.jon-header ul li a i {
    font-size: 18px;
    color: #031521;
    position: relative;
    top: 3px;
    left: 4px;
    display: inline-block;
    float: right;
}
/* dropdown */
.jon-header ul li .dropddown-menu {
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 100%;
    left: 17px;
    height: auto;
    width: 250px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    z-index: 999;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.jon-header ul li:hover .dropddown-menu{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
.jon-header ul li .dropddown-menu li {
    line-height: 40px;
    position: relative;
}

.jon-header ul li .dropddown-menu li a {
    text-decoration: none;
    display: block;
    padding: 2px 10px !important;
    transition: .4s;
}
.jon-header ul li .dropddown-menu li a:hover{
    letter-spacing: 1px;
}
.jon-header ul li .dropddown-menu li ul {
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0 !important;
    visibility: hidden !important;
    margin-top: 10px !important;
    transition: all ease-in-out .4s;
}
.jon-header ul li .dropddown-menu li:hover ul{
    opacity: 1 !important;
    visibility: visible !important;
    margin-top: 0 !important;
}
.jon-header ul li .dropddown-menu li ul li{}



.jon-header ul li ul li ul li{}
.mobile-menu-bar {
    width: 250px;
    justify-content: flex-end;
}
.maenu-bars .burger-menu:hover span{
    background: #2554ff;
}
.maenu-bars {
    margin-right: 30px;
    margin-top: 6px;
    
}
.burger-menu span {
    display: block;
    width: 40px;
    height: 3px;
    background: #031521;
    margin-bottom: 5px;
    transition: .4s;
}
.maenu-search{}
.maenu-search .menu-icon{}
.maenu-search .menu-icon i {
    display: inline-block;
    font-size: 20px;
    color: #000;
}

.menu-icon i{}
/* header-and-menu-section end */


/* curosel sections start */
.curosel-img-1{
    background: url(./img/ia_100000073.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 350px;
    height: 950px;
}
.curosel-img-2{
    background: url(./img/ia_100000074.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 350px;
    height: 950px;
}
.curosel-img-3{
    background: url(./img/ia_100000072.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 350px;
    height: 950px;
}
.curosel-hoverr{
    position: relative;
}
.curosel-hoverr::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
}
.curosel-contents {
    max-width: 760px;
    margin: -640px auto 0;
    text-align: center;
}
.curosel-contents h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.curosel-contents p {
    color: #fff;
    font-weight: 500;
}
.curosel-btn{}
.curosel-btn .default-btn {
    border: none;
    outline: none;
    background: #2554ff;
    padding: 15px 40px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}
.curosel-btn .default-btn::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color:#031521;
    border-radius: 4px;
    z-index: -1;
    transition: .4s;
}
.curosel-btn .default-btn:hover::after{
    width: 100%;
}

.previcon {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    transition: all ease-in-out .4s;
}
.curosel-section:hover .previcon{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.previcon i {
    display: block;
    height: 50px;
    width: 50px;
    background: #fff;
    font-size: 25px;
    color: #2554ff;
    line-height: 50px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50%;

    transition: .4s;
}
.previcon i:hover{
    background-color:#212529;
    color: #2554ff;
}
.nexticon{
    opacity: 0;
    visibility: hidden;
    transform: translateX(40px);
    transition: all ease-in-out .4s;
}
.curosel-section:hover .nexticon{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.nexticon i{
    display: block;
    height: 50px;
    width: 50px;
    background: #fff;
    font-size: 25px;
    color: #2554ff;
    line-height: 50px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50%;

    transition: .4s;
}
.nexticon i:hover{
    background-color:#212529;
    color: #2554ff;
}
/* curosel sections end */


/* Research-section strat */
.Research-section {
    padding: 60px 0px;
    margin-top: -200px;
}
.top-reaserch{
    margin-top: 35px;
}
.research-item{
    background-color:#f6f2fe ;
    padding: 35px 20px;
    transform: translateY(5px);
    transition: all ease-in-out .4s;
}
.research-icon {
    position: relative;
    margin-bottom: 30px;
}
.research-icon i {
    display: inline-block;
    height: 85px;
    width: 85px;
    line-height: 85px;
    text-align: center;
    background: #fff;
    color: #0fe7f9;
    font-size: 40px;
    border-radius: 50%;
    border: 1px dashed #0fe7f9;
}
.research-icon i::after {
    content: "";
    position: absolute;
    right: 100px;
    top: 2px;
    height: 15px;
    width: 15px;
    background-color: #0fe7f9;
    border-radius: 50%;
}
.research-content{}
.research-content h2 {
    font-size: 25px;
    transition: .4s;
}
.research-content h2:hover{
    color: #2554ff;
}
.research-content p {
    font-size: 15px;
    line-height: 1.8;
}
.research-item:hover{
    background-color: #fff;
    box-shadow:0 2px 28px 0 rgb(0 0 0 / 9%) ;
    transform: translateY(0);
}
/* Research-section end */



/* about-section start */
.about-section {
    padding: 100px 0px;
    background: #f9fbfc;
}
.about-img{
    position:relative;
}
.about-img img {
    border-left: 0;
    border-right: 10px solid #0fe7f9;
    border-top: 10px solid #0fe7f9;
    border-bottom: 10px solid #0fe7f9;
    padding: 10px;
    border-radius: 5px;
}
.about-img img:nth-child(2) {
    position: absolute;
    bottom: -76px;
    right: -21px;
    border: none;
    border-radius: 25px !important;
}
.about-content {
    padding: 20px 15px;
}
.about-content h4 {
    font-size: 18px;
    color: #2554ff;
    font-weight: 400;
}
.about-content h1 {
    font-size: 45px;
    font-weight: 500;
    padding: 5px 0px;
}
.about-content p {
    color: #6b6b84;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 8px;
}
.about-content .second-p{}

.about-item{}
.about-item ul {
    list-style: none;
    padding-left: 0;
}
.about-item ul li {
    color: #02334f;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 15px;

}
.about-item ul li:hover i{
    color: #2554ff;
}
.about-item ul li i {
    display: inline-block;
    color: #02334f;
    font-size: 25px;
    position: relative;
    top: 5px;
    left: -15px;
    transition: .4s;
}
/* about-section end */

/* service-section start */
.service-section {
    background-color: #efe9fb;
    padding: 100px 0px;
    position: relative;
}
.service-header-text {
    padding-bottom: 30px;
}
.service-header-text h6 {
    color: #2554ff;
    font-size: 20px;
    font-weight: 400;
}
.service-header-text h1 {
    font-size: 38px;
}

.service-item {
    background-color: #fff;
    padding: 30px 30px 30px 100px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    transition: .4s;
}
.service-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:0;
    background-color: #2554ff;
    z-index: -1;
    border-radius: 3px;
    transition: .5s;
}
.service-item:hover::before{
    width: 100%;
    color: #fff !important;
    box-sizing: border-box;
}
.service-item:hover{
    border: 1px solid #2554ff !important;
    color: #fff;
}
.service-item .ser-icon {
    position: absolute;
    left: 20px;
    top: 34px;
}
.service-item .ser-icon i {
    font-size: 35px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    text-align: center;
    background: #efe9fb;
    border-radius: 50%;
    display: inline-block;
    color: #2554ff;
    transition: .5s;
}
.service-item:hover .ser-icon i{
    transform: rotate(360deg);
}
.service-item .ser-content{}
.service-item .ser-content h2 {
    font-size: 25px;
    font-weight: 600;
}
.service-item .ser-content p {
    color: #6b6b84;
    line-height: 1.8;
    margin-bottom: 15px;
    transition: .4s;
}
.service-item:hover .ser-content p{
    color:#fff;
}
.service-item .ser-content a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: .4s;
}
.service-item:hover .ser-content a{
    color: #fff;
}

.shpa-left {
    position: absolute;
    top: 230px;
    left: 0;
}
.shpa-right {
    position: absolute;
    right: 0;
    top: 230px;

}
/* service-section end */


/* project-sectin start */
.project-sectin{
    padding: 100px 0px;
}
.project-header {
    padding-bottom: 24px;
}
.project-header h6 {
    color: #2554ff;
}
.project-header h1{}
.project-item{

}
.project-item .project-img{
    position: relative;
}
.project-item .project-img img{}
.project-item .project-icon {
    position: absolute;
    bottom: -10px;
    right: 15px;
    z-index: 999;
}
.project-item .project-icon a i {
    text-decoration: none;
    display: inline-block;
    background-color: #0fe7f9;
    color: #fff;
    height: 30px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    font-size: 23px;
    transition: .4s;
}
.project-item .project-icon i:hover{
    background-color: #fff;
    color:#0fe7f9 ;
}
.project-item .project-content {
    background-color: #f6f6f6;
    padding: 25px;
    position: relative;
    z-index: 1;
}
.project-item .project-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:0;
    background-color: #0d6efd;
    z-index: -1;
    transition: all ease-in-out .4s;
}
.project-item:hover .project-content::before{
    width: 100%;
}
.project-item .project-content h2 {
    font-size: 25px;
    font-weight: 700;
    transition: .4s;
}
.project-item:hover .project-content h2{
    color:#fff;
}
.project-item .project-content p {
    color: #012a68;
    font-weight: 700;
    margin-bottom: 0;
    transition: .4s;
}
.project-item:hover .project-content p {
    color:#fff;
}
/* project-sectin end */


/* experieance-section start */
.experieance-section{
    background: url(./img/ia_100000075.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px;
}
.experience-content{}
.experience-content h6 {
    color: #2554ff;
    font-weight: 400;
}
.experience-content h1 {
    font-size: 37px;
    margin-bottom: 10px;
    margin-top: 14px;
}
.experience-content p {
    font-size: 16px;
    font-weight: 700;
}
.experieance-text {
    padding-left: 55px;
    padding-top: 2px;
    position: relative;

}
.experieance-text:hover .ex-icon i{
    background-color: #2554ff;
    color: #fff;
    border: none;
}
.experieance-text .ex-icon {
    position: absolute;
    left: 0;
    top: 0px;
}
.experieance-text .ex-icon i {
    height: 40px;
    width: 40px;
    border: 1px solid #0fe7f9;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    color: #0fe7f9;
    transition: .4s;
}
.experieance-text h4 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
}
.experieance-text p {
    color: #6b6b84;
    line-height: 1.8;
    font-weight: 400;
}
.experieance-img{}
.experieance-img img{}
/* experieance-section end */

/* team-section start */
.team-section{
    padding: 100px 0px;
}
.team-header {
    padding-bottom: 20px;
}
.team-header h6 {
    color: #2554ff;
}
.team-header h1{}

.team-member{}
.team-member .team-img{
    position: relative;
}
.team-member .team-img img {
    border-radius: 50%;
    border: 5px solid #0fe7f9;
}
.team-member .team-social {
    position: absolute;
    bottom: 18px;
    right: 31px;
    left: 0;
    margin: auto;
    text-align: center;
}
.team-member .team-social ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.team-member .team-social ul li {
    padding-right: 5px;
    padding-left: 5px;
    transform: translateY(35px);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.team-member:hover .team-social ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.team-member .team-social ul li:nth-child(1){
    transition-delay: .2s;
}
.team-member .team-social ul li:nth-child(2){
    transition-delay: .3s;
}
.team-member .team-social ul li:nth-child(3){
    transition-delay: .4s;
}
.team-member .team-social ul li:nth-child(4){
    transition-delay: .5s;
}
.team-member .team-social ul li a {
    display: inline-block;
    text-decoration: none;
    height: 35px;
    width: 35px;
    line-height: 36px;
    text-align: center;
    background: #0fe7f9;
    color: #fff;
    border-radius: 50%;
}
.team-member .team-social ul li a i{}

.team-member .team-content {
    padding-top: 20px;
}
.team-member .team-content h3 {
    font-size: 25px;
    font-weight: 700;
}
.team-member .team-content span {
    color: #2554ff;
    font-weight: 600;
}
/* team-section end */

/* appoinment-section start */
.appoinment-section{
    background:url(./img/ia_100000076.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
    position: relative;
    z-index: 1;
}
.appoinment-section::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
    z-index: -1;
}

.appoinment-progress{}
.appoinment-progress .progress-header{}
.appoinment-progress .progress-header h1 {
    font-size: 40px;
    line-height: 1.3;
    padding-bottom: 10px;
}
.appoinment-progress .progress-header p {
    padding-bottom: 20px;
    line-height: 1.8;
}
.appoinment-progress .progress-items .progress-title {
    color: #fff;
    padding-bottom: 5px;
}
.appoinment-progress .progress-items .progress-title span {
    font-size: 18px;
    font-weight: 600;
}
.appoinment-progress .progress-items .progress-title .percentise-1 {
    display: inline-block;
    width: 74%;
}
.appoinment-progress .progress-items .progress-title .percentise-2{}

.appoinment-progress .appointment-progress-bar{}
.appoinment-progress .appointment-progress-bar .progress {
    height: 8px;
    background: #fff;
    border-radius: 5px;
}
.appoinment-progress .appointment-progress-bar .progress .own-progress {
    height: 8px;
    background: #2554ff;
    border-radius: 5px;
}

.progress-items {
    padding-bottom: 30px;
}
.progress-items .progress-title .percentise-3 {
    display: inline-block;
    width: 55%;
}
.progress-items .progress-title .percentise-4{}
.progress-items .progress-title .percentise-5 {
    display: inline-block;
    width: 85%;
}
.progress-items .progress-title .percentise-6{}


.Lab-form {
    background: #fff;
    padding: 50px 40px;
    border-radius: 5px;
}
.form-header-text{}
.form-header-text h1{}

.Lab-form .form-items{}
.Lab-form .form-items input {
    padding: 15px 20px;
    color: #5d5d5d;
    border-radius: 10px;
    font-size: 15px;
    background: #f6f6f6;
    border: 1px solid transparent;
}
.Lab-form .form-items input:focus{
    border: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid transparent;
}
.Lab-form .form-items i{}
.Lab-form .form-items select{}
.Lab-form .form-items select option{}
.Lab-form .form-items select i{}
/* appoinment-section end */

/* contact-section start */


.Lab-form{
    background: #fff;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    padding: 50px 40px;
    border-radius: 5px;
}
.lab-form-style h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.lab-form-style input {
    background: #f6f6f6 !important;
    padding: 14px 15px;
    font-size: 16px;
    border: none;
    outline: 0;
}
.lab-form-style input:focus{
    box-shadow: none;
    border: none;

}
.lab-form-style select{
    background: #f6f6f6 !important;
    padding: 14px 15px;
    font-size: 16px;
    border: none;
    outline: 0;
}
.lab-form-style select:focus{
    box-shadow: none;
    border: none;
}
.form-indivisual-item{
    position: relative;
    margin-bottom: 30px;
}
.form-indivisual-item span {
	position: absolute;
	right: 8px;
	bottom: 16px;
	font-size: 16px;
	color: #0fe7f9;
}

/* contact-section end */

















/* counter-section start */
.counter-section{
    padding: 100px 0px;
}
.counter-items{
    background-color: #0fe7f9;
    padding: 55px 100px;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}
.counting-content{}
.counting-content h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 800;
}
.counting-content p {
    font-size: 18px;
    font-weight: 600;
}
.counting-shap{}
.counting-shap-left{}
.counting-shap-left img {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: -1;
}
.counting-shap-right img {
    position: absolute;
    right: 0px;
    top: 48px;
    z-index: -1;
}
/* counter-section end */


/* testimonial-section start */
.testimonial-section{
    padding: 100px 0px;
    background:url(./img/ia_100000077.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    position: relative;
}
.testimonial-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    opacity: .6;
    z-index: -1;
}
.test-header {
    padding-bottom: 50px;
    font-weight: 600;
}
.test-header p{
    color:#2554ff;
}
.test-header h1{}

.testi-contents {
    background-color: #f6f5fd;
    padding: 35px 50px;
    position: relative;
}
.testi-contents .testi-member{}
.testi-contents .testi-member img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-top: -80px;
}
.testi-contents .testi-bio {
    padding: 15px 0px;
}
.testi-contents .testi-bio h3{}
.testi-contents .testi-bio span {
    display: inline-block;
    font-weight: 600;
}
.testi-contents .testi-text{}
.testi-contents .testi-text p {
    font-style: italic;
    color: #6b6b84;
    line-height: 1.8;
    font-size: 17px;
}




/* testimonial-section end */

/* newslatter-section start */
.newslatter-section{
    padding: 100px 0px;
}
.news-header{}
.news-header{
    padding-bottom: 30px;
}
.news-header h6{
    color: #2554ff;
}
.news-header h1{}

.news-item{
    position: relative;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 8%);
}
.news-item .news-img{}
.news-item .news-img img{}
.news-item .news-img-date {
    position: absolute;
    top: 0;
    left: 0;
}
.news-item .news-img-date span {
    display: inline-block;
    color: #2554ff;
    background: #fff;
    padding: 10px 25px;
    font-weight: 500;
    transition: .4s;
}
.news-item:hover .news-img-date span{
    background:#2554ff;
    color:#fff;
}
.news-item .news-content {
    padding: 25px 20px;
}
.news-item .news-content h2 {
    font-size: 25px;
    line-height: 1.4;
    font-weight: 700;
}
.news-item .news-content .news-more-btn{}
.news-item .news-content .news-more-btn a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding-top: 5px;
}
/* newslatter-section end */


/* jibanu-section start */
.jibanu-section{
    background-color: #fafaff;
    padding: 100px 0px;
}
.jibanu-item{}
.jibanu-item img{}
/* jibanu-section end */

/* footer-section start */
.footer-section{}
.footer-top{
    background: url(./img/ia_100000078.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 100px 0px;
}
.footer-top-weidegt{}
.footer-top-weidegt .footer-logo {
    padding-bottom: 25px;
}
.footer-top-weidegt .footer-logo a{}
.footer-top-weidegt .footer-logo a img {
    width: 30%;
}
.footer-top-weidegt p {
    line-height: 1.8;
    color: #031521;
}

.footer-top-weidegt .social {
    list-style: none;
    display: flex;
    padding-left: 0;
    padding-top: 20px;
}
.footer-top-weidegt .social li {
    padding-right: 15px;
}
.footer-top-weidegt .social li a {
    text-decoration: none;
    color: #fff;
}
.footer-top-weidegt .social li a .facebook {
    background: #3b5998;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #3b5998 ;
    transition: .5s;
}
.footer-top-weidegt .social li a .facebook:hover{
    color: #3b5998;
    background-color: #fff;


}
.footer-top-weidegt .social li a .twitter{
    background:#1da1f2;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border:1px solid #1da1f2;
    transition: .5s;
}
.footer-top-weidegt .social li a .twitter:hover{
    background-color: #fff;
    color: #1da1f2;
}
.footer-top-weidegt .social li a .pinterest{
    background:#c13584;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border:1px solid#c13584;
    transition: .5s;
}
.footer-top-weidegt .social li a .pinterest:hover{
    background-color: #fff;
    color: #c13584;
}
.footer-top-weidegt .social li a .linkedin{
    background:#007bb5;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border:1px solid #007bb5;
    transition: .5s;
}
.footer-top-weidegt .social li a .linkedin:hover{
    background-color: #fff;
    color: #007bb5;
}


.footer-top-weidegt .footer-header{}
.footer-top-weidegt .footer-header h3 {
    font-size: 25px;
    position: relative;
}
.footer-top-weidegt .footer-header h3::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #000;
}
.footer-top-weidegt .bottom-line {
    list-style: none;
    padding-left: 0;
    padding-top: 25px;
}
.footer-top-weidegt .last-classs li {
    padding-left: 35px;
    position: relative;
    margin-bottom: 12px;
}
.footer-top-weidegt .bottom-line li {
    line-height: 1.9;
}
.footer-top-weidegt .bottom-line li i {
    display: inline-block;
    font-size: 12px;
}
.footer-top-weidegt .bottom-line li .flaticonn {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.footer-top-weidegt .bottom-line li a {
    display: inline-block;
    text-decoration: none;
    color: #111;
    font-weight: 600;
    position: relative;
    transition: .4s;
}
.footer-top-weidegt .bottom-line li a:hover{
    color: #2554ff;
}
.footer-top-weidegt .bottom-line li a::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #2554ff;
    transition: .5s;
}
.footer-top-weidegt .bottom-line li a:hover::before{
    width: 100%;
}
.footer-top-weidegt .bottom-line li strong {
    display: block;
}
.footer-bottom{
    background-color: #012b6b;
}
.last-footer-cpyright{}
.last-footer-cpyright p{
    color:#fff;
    margin-bottom: 0;
}
.last-footer-cpyright p span {
    font-weight: 700;
    transition: .4s;
}
.last-footer-cpyright p span:hover{
    color: #2554ff;
}

/* footer-section end */